{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    @font-face {
        font-family: "ukNumberPlate";
        src: url("{% static 'font/CharlesWright-Bold.ttf' %}");
    }
</style>

{% endblock %}

{% block title %}
Bag
{% endblock %}

{% block content %}

<h1 class="p-3 py-4 m-0 text-center">Shopping Kart</h1>

<div class="row m-0 p-3 bg-light justify-content-center">
    <div class="col-12 col-lg-9 col-xl-8 order-2 order-lg-1 m-0 px-0 pt-3 px-lg-3 pt-lg-0">
        <div class=" white-container">
            <h5>Your Items</h5>
            {% if bag_items %}
            <!-- desktop items in the bag -->
            <table class="table d-none d-md-block">
                <tr>
                    <th scope="col">Product Info</th>
                    <th scope="col">Price</th>
                    <th scope="col">Set</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                </tr>

                {% for product in bag_items %}
                <tr>
                    <td scope="row" class="d-flex justify-content-start">
                        {% if product.item == 'back' %}
                        <div class="d-flex justify-content-center">
                            <div id="viewFrontPlate"
                                class="checkout-number-plate-container number-plate-container-yellow mb-2">
                                <p class="checkout-number-plate-font m-0" id="white-number-plate">
                                    {{ product.reg_number}}
                                </p>
                            </div>
                        </div>
                        <h6 class="capitalize mx-3">Uk Number Plate Replacement</h6>
                        {% elif product.item == 'front' %}
                        <div class="d-flex justify-content-center">
                            <div id="viewFrontPlate"
                                class="checkout-number-plate-container number-plate-container-white mb-2">
                                <p class="checkout-number-plate-font m-0" id="white-number-plate">
                                    {{ product.reg_number}}
                                </p>
                            </div>
                        </div>
                        <h6 class="capitalize mx-3">Uk Number Plate Replacement</h6>
                        {% elif product.item == 'both' %}
                        <div class="d-flex justify-content-center align-items-center">
                            <div id="plateContainer">
                                <div id="viewFrontPlate"
                                    class="checkout-number-plate-container number-plate-container-yellow mb-2">
                                    <p class="checkout-number-plate-font m-0" id="white-number-plate">
                                        {{ product.reg_number }}
                                    </p>
                                </div>
                                <div id="viewBackPlate"
                                    class="checkout-number-plate-container number-plate-container-white">
                                    <p class="checkout-number-plate-font m-0" id="yellow-number-plate">
                                        {{ product.reg_number }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h6 class="capitalize mx-3">Uk Number Plate Replacement</h6>
                        {% else %}
                        <p><img src="{% static 'media/fitting-kit.jpg' %}" style="width: 120px;"></p>
                        <h6 class="capitalize mx-3">Fitting Kit</h6>
                        {% endif %}

                    </td>
                    <td scope="row">
                        <p>£{{ product.cost }}</p>
                    </td>
                    <td scope="row">
                        <p class="capitalize">{{ product.item }}</p>
                    </td>
                    <td scope="row" style="width: 50px">
                        <input type="number" class="form-control" value="{{ product.quantity }}">
                        <a class="text-info text-center mt-2"
                            href="{% url 'remove_from_bag' product.id %}"><small>Update</small></a>
                        <a class="text-danger text-center mt-2"
                            href="{% url 'remove_from_bag' product.id %}"><small>Remove</small></a>
                    </td>
                    <td scope="row">
                        <p>£{{ product.cost }}</p>
                    </td>
                </tr>
                {% endfor %}

            </table>
            <!-- mobile items in the bag -->
            <div class="white-container d-block d-md-none">
                {% include 'includes/basket_items.html' %}
            </div>
            <a class="btn btn-danger mt-2" href="{% url 'empty_basket' %}">Empty Basket</a>
            {% else %}
            <hr>
            <div class="p-3">
                <p class="text-center">You currently have no items in your basket.</p>
                <div class="d-flex justify-content-center">
                    <a class="btn bg-main" href="{% url 'design_plates' %}">Start Shopping</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if bag_items %}
    <div class="col-12 col-lg-3 order-1 order-lg-2 m-0 p-0">
        {% if not fitting_kit %}
        <div class="checkout-container white-container p-3 mb-3">
            {% if free_delivery_delta > 0 %}
            <p>Spend £{{ free_delivery_delta }} to get
                free
                delivery!</p>
            <hr>
            {% endif %}
            <img src="{% static 'media/fitting-kit.jpg' %}" style="width: 80px;" class="d-block mx-auto">
            <p class="mt-2 text-center">Fitting kit only £4.99</p>
            <form action="{% url 'add_to_bag' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fitting-kit" value="on">
                <button class="btn bg-main container-fluid">Add to
                    basket</button>
            </form>

        </div>
        {% endif %}
        <div class="checkout-container white-container p-3">
            <h5>Summary</h5>
            <hr>
            <p class="m-0 d-flex justify-content-between">Total Item cost: <b>£ {{ total }}</b></p>
            <p class="m-0 d-flex justify-content-between">Delivery: <b>£{{ delivery }}</b></p>
            <h5 class="mt-2 d-flex justify-content-between">Total <b>£{{ grand_total }}</b></h5>
            <hr>
            <small class="m-0">All ordered dispatched within 1 day by Royal Mail 1st class, delivery 3-5 working
                days.</small>
            <hr>
            <a class="btn btn-success container-fluid py-3" href="{% url 'view_checkout' %}">Check Out</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}