{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .black-car-background {
        width: 100vw;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        max-height: 800px;
        background: url('{% static 'media/header-bg.jpg' %}') center center;
        background-size: cover;
        background-position: 50% 65%;
    }

    .road-background {
        width: 100vw;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        max-height: 800px;
        background: url('{% static 'media/road.jpeg' %}') center center;
        background-size: cover;
        background-position: 50% 65%;
        position: relative;
        color: white;
    }

    .road-background::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .road-background p {
        z-index: 1;
    }
</style>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}


<div class="header-content black-car-background d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white title mb-4">Replacement Acrylic Plates</h1>
        <p class="text-white">The DVLA is introducing new legislation for the UK’s number plates from the 1st September
            2021
            and new plates
            will
            become mandatory.</p>
        <a href="{% url 'design_plates' %}" class="mt-3 btn bg-main">Get Replacement</a>
    </div>
    <div class="home-arrow-container">
        <div class="home-arrow-wrapper">
            <div class="arrow-top">
            </div>
            <div class="arrow-mid">
            </div>
            <div class="arrow-bottom">
            </div>
        </div>
    </div>
</div>




<section class="page-section px-2">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center py-5">
                <h2 class="section-heading text-uppercase">Replacement Acrylic Plates</h2>
                <p class="section-subheading mb-0 text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Perspiciatis, voluptas!</p>
            </div>
        </div>
        <div class="row text-center justify-content-center pb-5 pt-2 bg-light">
            <div class="col-md-3 mt-5" data-aos="fade-up">
                <div class="white-container h-100 home-container">
                    <img src="https://img.icons8.com/fluent/65/000000/maintenance.png" />
                    <h4 class="service-heading">Tool Kits</h4>
                    <p class="text-muted">Move information.</p>
                    <a class="btn bg-main" href="contact.html">How to Fit</a>
                </div>

            </div>
            <div class="col-md-3 mt-5" data-aos="fade-up">
                <div class="white-container h-100 home-container">
                    <img src="https://img.icons8.com/fluent/65/000000/car.png" />
                    <h4 class="service-heading">Uk Number Plates</h4>
                    <p class="text-muted">more information.</p>
                    <a class="btn bg-main" href="{% url 'design_plates' %}">Get Replacements</a>
                </div>
            </div>
            <div class="col-md-3 mt-5" data-aos="fade-up">
                <div class="white-container h-100 home-container">
                    <img src="https://img.icons8.com/fluent/65/000000/best-seller.png" />
                    <h4 class="service-heading">Personal Customer Service</h4>
                    <p class="text-muted">More information.</p>
                    <a class="btn bg-main" href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="road-background">
    <div class="p-5">
        <p>Fitting Kits - 10 sticky pads and 6 screws, (2xblack, 2xyellow, 2xwhite)</p>
        <p>Replacement acrylic plates not private plates.</p>
        <p>Data protection box when going through checkout to inform customers that their personal information will be
            stored for 3 years.</p>
    </div>
</section>

<section class="bg-white p-5">
    <p>Cost of a set of plates £20.00 and free postage</p>
    <p>£5.00 fitting kit.</p>
    <p>The DVLA is introducing new legislation for the UK’s number plates from the 1st September 2021
        and new plates
        will
        become mandatory. The new plates will have improved durability and enhanced compatibility with automatic number
        plate recognition (ANPR) cameras.</p>
    <p>£10.00 per plate. If the customer spends over £20 get free delivery.</p>
</section>


{% endblock %}