{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    @font-face {
        font-family: "ukNumberPlate";
        src: url("{% static 'font/CharlesWright-Bold.ttf' %}");
    }
</style>

{% endblock %}

{% block title %}
Bag
{% endblock %}

{% block content %}

<h1 class="p-3 py-4 m-0 text-center">Your Information</h1>
<form method="POST" action="{% url 'add_personal_information' %}">
    {% csrf_token %}
    <div class="row m-0 p-3 bg-light justify-content-center">

        <div class="col-12 col-md-6 col-lg-6">
            <div class="white-container">
                <h5>General</h5>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">First Name</label>
                        <input name="first_name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name</label>
                        <input name="last_name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Email</label>
                        <input name="email" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Phone Number</label>
                        <input name="phone_number" class="form-control">
                    </div>
                </div>
                <hr>
                <h5>Address</h5>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Address 1 *</label>
                        <input name="first_line_address" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Address 2</label>
                        <input name="second_address" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">City or Town *</label>
                        <input name="town_or_city" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip">County *</label>
                        <input name="county" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip">Postcode *</label>
                        <input name="post_code" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="white-container">
                <h5>Documents</h5>
                <hr>
                <div class="form-row">
                    <input type="file">
                </div>
                <hr>
                <div class="form-row mt-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Next</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}