{% extends 'base.html' %}
{% load static %}

{% block title %}
Bag
{% endblock %}

{% block content %}

<h1 class="p-3 py-4 m-0 text-center">Thank you for your order!</h1>

<div class="p-3">
    <div class="white-container">
        <p>An conformation email has been sent with information for your order, if you have an issues please contract us
            via
            email at plates-direct@hotmail.com or tel 077777777777</p>
        <p>Your order number is: </p>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
    (function () {
        emailjs.init("user_fFFNDDJRdm6W6POwiDzok");
    })();
</script>
{% endblock %}

{% block postloadjs %}
<script>
    var data = {
        service_id: 'gmail',
        template_id: 'plates_direct',
        user_id: 'user_fFFNDDJRdm6W6POwiDzok',
        template_params: {
            'full_name': 'test',
            'email': 'test',
            'subject': 'test',
            'information': 'test',
        }
    };
    $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json'
    }).done(function () {
        $('#form_container').html(`
                        <div class="col-12 d-flex justify-content-center">
                            <p class="text-center text-success mt-4">Your message has been sent!</p>
                        </div>`)
    }).fail(function (error) {
        alert('Oops... ' + JSON.stringify(error) + 'Your order has been placed but there has been a problem with your confirmation email. Please send us an email to: plates-direct@hotmail.com. your order number is xxxxxxxx');
    });
</script>
{% endblock %}