{% extends 'base.html' %}
{% load static %}

{% block title %}
FAQs
{% endblock %}

{% block content %}

<h1 class="p-3 py-4 m-0 text-center bg-white">FAQ</h1>

<div class="row m-0 p-0 justify-content-center my-5">
    <div class="col-12 col-md-8 col-lg-7">
        <div class="white-container mb-3" data-aos="fade-up">
            <h6>How long can I expect to wait for my nuber plates?</h6>
            <hr>
            <p>Orders are made and dispatched within 1 working day (usually same day, an email will be supplied once
                dispatched) shipping usually took 3-5 working days. (royal mail 1st class)</p>
        </div>
        <div class="white-container mb-3" data-aos="fade-up">
            <h6>Will you make plates with an illegal spacing?</h6>
            <hr>
            <p>To mid-space or misrepresent the digits on number plates is an offence under the RoadVehiles
                (Registration & Licensing) Regulation 1975. Regardless of how you enter the spacing in your order, we
                will space the digits legally and the plates you order will be despatched with the correct & legal
                spacing of digits</p>

            </p>
        </div>
        <div class="white-container mb-3" data-aos="fade-up">
            <h6>"BSAU145d"?</h6>
            <hr>
            <p>Waiting on information</p>
        </div>
        <div class="white-container" data-aos="fade-up">
            <h6>Fitting Kits</h6>
            <hr>
            <p>We do not drill the number plates, as each car has the holes in a different place, our fitting kit
                unclues 10 sticky pads (5 for each plate) and a selection of coloured screws (2x black, 2x yellow and 2x
                white) if you'd like to drill the plates yourself, we'd recommend using a drill with a 3mm drill head.
                All this is for the great value of £5.</p>
        </div>
    </div>
</div>


{% endblock %}