.home-arrow-container {
    display:flex;
    justify-content: center;
    height:60px;
    position: absolute;
    bottom: 0;
}

.home-arrow-wrapper {
	display:inline-block;
    width:20px;
    margin-bottom:25px;
}

.arrow-top {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
	animation-delay: 0.5s; 
}

.arrow-bottom {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
	animation-delay: 1s; 
}

@keyframes arrows {
	0% {border-color:rgb(255,255,255,1);}
	80% {border-color:rgb(255,255,255,0);}
	100% {border-color:rgb(255,255,255,0);}
}

/*   arrow animation    */