.shopping-bag-table {
    background-color: white;
}

.shopping-bag-table tr {
    border-bottom: solid rgb(206, 206, 206) 1px;
}

.shopping-bag-table th {
    padding: 10px;
}

.shopping-bag-table td {
    padding: 10px;
    vertical-align: top;
}
