@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Montserrat:wght@700&family=Ubuntu&display=swap');
:root {
    --mainColour: #6bb0df;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p,a,li,span {
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow-x: hidden;

}

#page-content {
    max-width: 1600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.bg-main {
    background-color: var(--mainColour);
}

/* navigation */

nav {
    height: 65px;
    background-color: black;
    padding: 0 24px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 8px;
    color: white;
    cursor: pointer;
    
}

#logo {
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
    color: var(--mainColour);
}

a {
   color: white; 
   transition: 0.5s;
   text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--mainColour);
}

/* home */

.header-content {
    height: 600px;
    position: relative;
}

.title {
    font-size: 3.2em;
    font-weight: 700;
}

/* replacement plates */

.price-style {
    color: rgb(223, 223, 223);
    font-size: 1.5em;
}

.price-style b {
    color: white;
    font-size: 1.5em;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.fd-logo-size {
    width: 45px;
}

.footer-nav a {
    color: grey;
    margin-left: 15px;
    font-size: 0.9em;
    color: grey;
}

.copyright {
    width: 300px;
}