@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Montserrat:wght@700&family=Ubuntu&display=swap');

/* basic */

:root {
    --mainColour: #6bb0df;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p,a,li,span {
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow-x: hidden;

}

#page-content {
    max-width: 1600px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.bg-main {
    background-color: var(--mainColour);
}

.capitalize {
    text-transform: capitalize;
}

.white-container {
    box-shadow: 3px 4px 7px 4px rgb(0,0,0,0.1);
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

/* home */

.header-content {
    height: 100vh;
    max-height: 650px;
    position: relative;
}

.title {
    font-size: 3.2em;
    font-weight: 700;
}

.home-container {
    position: relative;
    padding-bottom: 52px;
}

.home-container a {
    position: absolute;
    width: 160px;
    bottom: 15px;
    right: calc(50% - 80px);
}

/* replacement plates */

.price-style {
    color: rgb(95, 95, 95);
    font-size: 1.5em;
}

.price-style b {
    color: rgb(37, 37, 37);
    font-size: 1.2em;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.fd-logo-size {
    width: 45px;
}

.footer-nav a {
    color: grey;
    margin-left: 15px;
    font-size: 0.9em;
    color: grey;
}

.copyright {
    width: 300px;
}