{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .number-plate-wrapper {
        background: url('{% static 'media/concrete.jpg' %}');
        background-size: cover;
    }

    .number-plate-wrapper::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    @font-face {
        font-family: "ukNumberPlate";
        src: url("{% static 'font/CharlesWright-Bold.ttf' %}");
    }
</style>

{% endblock %}

{% block title %}
Design Plates
{% endblock %}


{% block content %}


<div class="row number-plate-wrapper justify-content-center m-0 p-0">
    <!-- Purchasing options -->
    <div class="col-12 col-md-5 col-xl-3 order-2 order-md-1 pt-0 px-3 pb-5 pt-md-5">
        <div class="white-container">
            <form action="{% url 'add_to_bag' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="item" id="item" value="both">
                <div class="p-0 d-flex justify-content-center">
                    <div class="p-0 container-fluid">
                        <div class="mb-4 d-flex justify-content-between">
                            <button type="button" class="container-fluid btn toggle-plate-button"
                                id="frontPlateButton">Front</button>
                            <button type="button" class="container-fluid mx-2 btn toggle-plate-button"
                                id="backPlateButton">Back</button>
                            <button type="button" class="container-fluid btn toggle-plate-button bg-main"
                                id="bothPlateButton">Both</button>
                        </div>
                        <p class="mb-2"><small class="text-danger">Please make sure you add the spaces in the correct
                                position.</small></p>
                        <input class="form-control" placeholder="REG PLATE" autocomplete="off" name="reg_number"
                            id="reg_number" maxlength="8">
                    </div>
                </div>
                <p class="price-style mt-3">Price: <b class="price">£19.99</b></p>
                <p>Add fitting kit £4.99 <input type="checkbox" name="fitting-kit"></p>
                <button class="btn bg-main">Add To Basket <img
                        src="https://img.icons8.com/pastel-glyph/20/000000/shopping-basket-2--v2.png" /></button>
            </form>
        </div>

    </div>

    <!-- view plates -->
    <div class="col-12 col-md-7 d-flex justify-content-center align-items-center py-5 order-1 order-md-2">
        <div class="plateContainer">
            <div id="viewFrontPlate" class="number-plate-container number-plate-container-yellow mb-2">
                <p class="number-plate-font white-number-plate">PL35 DCT</p>
            </div>
            <div id="viewBackPlate" class="number-plate-container number-plate-container-white">
                <p class="number-plate-font yellow-number-plate">PL35 DCT</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}