{% extends 'base.html' %}
{% load static %}

{% block title %}
Design Plates
{% endblock %}

{% block content %}


<div class="row number-plate-wrapper">
    <!-- Purchasing options -->
    <div class="col-4 bg-dark p-5">
        <form action="{% url 'add_to_bag' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <input type="hidden" name="item" id="item" value="both">
            <div class="p-0 d-flex justify-content-center">
                <div class="p-0 container-fluid">
                    <div class="mb-4 d-flex justify-content-between">
                        <button type="button" class="container-fluid btn toggle-plate-button"
                            id="frontPlateButton">Front</button>
                        <button type="button" class="container-fluid mx-2 btn toggle-plate-button"
                            id="backPlateButton">Back</button>
                        <button type="button" class="container-fluid btn toggle-plate-button bg-main"
                            id="bothPlateButton">Both</button>
                    </div>
                    <p class="mb-2"><small class="text-danger">Please make sure you add the spaces in the correct
                            position.</small></p>
                    <input class="form-control" placeholder="REG PLATE" name="reg_number" id="reg_number" maxlength="8">
                </div>
            </div>
            <p class="price-style mt-3">Price: <b class="price">£19.99</b></p>
            <button class="btn bg-main">Add To Basket <img
                    src="https://img.icons8.com/pastel-glyph/20/000000/shopping-basket-2--v2.png" /></button>
        </form>
    </div>

    <!-- view plates -->
    <div class="col-8 d-flex justify-content-center align-items-center py-5">
        <div id="plateContainer">
            <div id="viewFrontPlate" class="number-plate-container number-plate-container-yellow mb-2">
                <p class="number-plate-font" id="white-number-plate">PL35 DCT</p>
            </div>
            <div id="viewBackPlate" class="number-plate-container number-plate-container-white">
                <p class="number-plate-font" id="yellow-number-plate">PL35 DCT</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}