{% extends 'base.html' %}
{% load static %}

{% block title %}
Design Plates
{% endblock %}

{% block content %}

<p>But within the next 02:12:32 and recieve the plates tomorrow!</p>

<p>Information about differnt plate types.</p>

<div class="d-flex justify-content-center py-5">
    <div>
        <div class="mb-4">
            <p></p>
            <input class="form-control" placeholder="REG PLATE" id="view-plates" maxlength="8">
        </div>
        <div class="number-plate-container number-plate-container-yellow mb-2">
            <p class="number-plate-font" id="yellow-number-plate">PL35 DCT</p>
        </div>
        <div class="number-plate-container number-plate-container-white">
            <p class="number-plate-font" id="white-number-plate">PL35 DCT</p>
        </div>
        <div id="checkout-button-container"></div>
    </div>


</div>

{% endblock %}