<div role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header toast-success">
        <strong class="mr-auto">Success</strong>
        <small>Just Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a href="{% url 'view_bag' %}" class="toast-body bg-light">
        {% for message in messages %}
        {{ message }}
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </a>
</div>